{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Browse Property Listings {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-4">
            <h4 class="text-centre alert alert-info">Owner Add Your Room</h4>
            <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="ADD">
            </form>
        </div>
    </div>

{% endblock content %}



